.page_container {
  /*height: 100vh;
  width: 100vw;*/
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.reactflow_wrapper {
  flex-grow: 1;
  height: 100vh;
}

.panel {
  width: 76px;
  height: 100vh;
  background-color: #eee;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
  overflow-y: auto;
}

.panel_button {
  width: 62px;
  height: 62px;
  margin: 0 auto 12px;
  border: none;
  display: flex;
  justify-content: center;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  background-color: darken(#eee, 7%);

  >img {
    max-height: 50px;
  }
}