body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


html {
  font-size: 16px;
}

.react-flow__attribution {
  display: none;
}

.react-flow__viewport, .react-flow__background {
  background-repeat: no-repeat;
  background-size: contain;
  //background-position: center;
}