.root {
  min-width: 30px;
  min-height: 30px;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  background: transparent url("./repair.png") no-repeat;
  background-size: contain;
}

.node {
  width: 100px;
  height: 100px;
}