.root {
  min-width: 30px;
  min-height: 30px;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  background: transparent url("./repair.png") no-repeat;
  background-size: contain;
}

.node {
  width: 60px;
  height: 60px;
}

.delete_button {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: red;

  &.show {
    display: flex;
  }

  &:hover {
    color: darken(red, 10%)
  }
}